root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
{% if primary_language == 'python' %}
indent_style = space
indent_size = 4
{% elif primary_language == 'javascript' %}
indent_style = space
indent_size = 2
{% elif primary_language == 'rust' %}
indent_style = space
indent_size = 4
{% else %}
indent_style = space
indent_size = 4
{% endif %}

[*.{yml,yaml,json,md}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
