default:
    @just --list

{% if install_command %}
install:
    {{ install_command }}
{% endif %}
{% if lint_command %}
lint:
    {{ lint_command }}
{% endif %}
{% if typecheck_command %}
typecheck:
    {{ typecheck_command }}
{% endif %}
{% if test_command %}
test:
    {{ test_command }}
{% endif %}
{% if build_command %}
build:
    {{ build_command }}
{% endif %}
{% if docs_build_command %}
docs:
    {{ docs_build_command }}
{% endif %}
